body {
    background-color: rgb(237, 237, 237);
}

h1 {
    font-weight: 900;
    text-align: center;
    font-size: 60px;
    padding: 0;
    margin: 0;
    height: 150px;
    background-image: url(../media/formation-java-jee.webp);
    background-position: center;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    text-decoration: none;

}
h1 a {
    text-decoration: none;
    color: whitesmoke;
}

h2 {
    height: 60px;
    padding: 0;
    font-size: 32px;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
    background-image: url(../media/formation-java-jee.webp);
    color: whitesmoke;
    text-decoration: double;
    border-top-color: whitesmoke;
    border-bottom-color: whitesmoke;
    border-left-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding-top: 0;
    margin-top: 0;
    text-transform: uppercase;
}

#div1 {
    background-color: #2c75ff;
    width: 500px;
    height: 500px;
    color: transparent;
    border: 2px solid black;
    float: left;

}

#div2 {
    background-color: goldenrod;
    width: 500px;
    height: 500px;
    color: transparent;
    border: 2px solid black;
    float: left;
}

#div3 {
    background-color: rgb(20, 162, 107);
    width: 1845px;
    height: 500px;
    color: transparent;
    border: 2px solid black;
    float: left;

}

#div4 {
    background-color: paleturquoise;
    width: 500px;
    height: 500px;
    color: transparent;
    border: 2px solid black;
    float: right;
}

#div5 {
    background-color: palevioletred;
    width: 500px;
    height: 500px;
    color: transparent;
    border: 2px solid black;
    float: right;
}